/* Breakpoint: 991px (Tablet) */
@media  screen and (max-width: 991px) {
    html {
        font-size: 9px;
    }

    p {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    .grid-three-column {
        grid-template-columns: repeat(2, 1fr);
        
    }

   .heading {
    font-size: 3rem;
    font-weight: 800;
   }

   .Section-common-heding {
    font-size: 3.5rem;
   }

   .section-left {
    & .card {   
        align-items:flex-start;
    }
  }

   .section-left {
    align-items: flex-start;
   }

   .section-left-text {
    text-align: justify;
   }

   .section-center {
    grid-column: 1;
    grid-row: 1/3;
   }

   .section-right {
    grid-column: 2;
   }

   .section-right-text {
    text-align: justify;
   }
   

   .productCartTotalElem {
    left: 78%;
   }


}

/* Breakpoint: 767px (Small Tablet / Large Phone) */
@media screen and (min-width: 767px) and (max-width: 990px) {
    .heading {
        font-size: 2.5rem;
        font-weight: 800;
       }

       p {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.6rem;
    }
    .heading-text {
        text-align: left;
        padding: 0;
    }

    .company-text h3 {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.5;
    }

    .productCartTotalElem {
        left: 72%;
       }
}

/* Breakpoint: 479px (Mobile) */
@media screen and (max-width: 479px ) {
    *{
        padding: 0;
        margin: 0;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    /* navbar */
    .navbar {
        justify-content:space-around;
        
        & ul a {
            font-size: 1.4rem;
            padding: 1rem 1rem;
            gap:0;
        }
    
    }

    .section-left{
        grid-column: 1/3;
        grid-row: 2;
    }

    .section-right{
        grid-column: 1/3;
        grid-row: 3;
    }

    .section-center {
        grid-column: 1/3;
        grid-row: 1;
       }

    .section-center>img {
        width: 200Px;
        height: auto;
    }

    .footer-section .container {

        display: grid;
        grid-template-columns:repeat(1, 1fr);
        gap: 1;
    }

    .company-logo {
        width: 100%;
        text-align: center;
    
        & img{
            width: 200px;
        }
    }

    .credit-card-img{
        justify-content: center;
        gap: 1rem;
    }

    .contact {
        flex-wrap: wrap;
        flex-basis: none;
        text-align: center;
    }

    form {
        flex-basis: 100%;
    }

    .productCartTotalElem {
        left:0;
       }



    /* Add cart  */
    .cart-information {
        padding:0;
        align-items: center;
        border: 0.25rem solid var(--secondary-color);
        margin-bottom: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    
        & p {
            letter-spacing:0;
        }
    
        & .Product-category {
            width: 45%;
            margin:1rem 0;
            margin-left: 5px;
            font-size: 1.2rem;
        }
    
        & .Product-name {
            width: 100%;
            margin-bottom: 0.5rem;
            font-size:1.5rem;
            letter-spacing:0;
            ;
        }

        
    & .product-Price-Element{
        width: 50%;
        padding: 2rem;
        color: var(--secondary-color);
        text-align: center;
    }

          & .product-Quantity-Element {
        padding: 0.5rem 0;
        width: 50%;

        & .productProperty{
            font-weight: 700;
            padding-right: 0.5rem;
        }
    }
    
    
        & .remove-to-cart-button {
            width:100%;
            font-size: 1.3rem;
            
        }
       }
       .cart-img-container {
        width: 50%;
        margin-top: 0.5rem;
       }
    
       .cart-img {
        
        width: 20%;
       }
}



